.content {
    margin-top: 30px;
    display: flex;
    flex-direction: row-reverse;
}

.imagebg {
    width: 100%;
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.paginationBox {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sideBar {
    width: 100px;
}

.logoBox {
    display: flex;
    font-size: 30px;
}